<nav class="navbar navbar-light light-blue lighten-4">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#"></a>

  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/en">🇬🇧 English</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#paseo-en-catamarán-en-tarifa">⛵ Paseo en catamarán</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#navegación-extrema-en-catamarán-en-tarifa">🏅 Navegación deportiva</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#curso-de-navegación-en-catamarán-en-tarifa">👩‍🏫 Curso de navegación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#dónde-puedes-navegar-un-catamarán-en-tarifa">📍 Donde estamos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://forms.gle/yTxbrQcy8sRcm7cw7">✉️ Contáctanos</a>
      </li>
      
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>

